<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Wanderlust</title>
  </head>
  <body>
    <div id="weather-root" data-location="<%= location %>"></div>

    <script type="module" src="/weather-app/assets/main.js"></script>
  </body>
</html>
